<h2>05 Unsubscribe Observable</h2>

<p>1- AsyncPipe: calls unsubscribe when the component gets destroyed</p>
<ul>
  <li *ngFor="let itm of items$ | async">{{itm | json}}</li>
</ul>
<hr>
<p>You are responsible to call Unsubscribe for any explicit subscription made in code!</p>
<p>Unsubscribe can be called:</p>
<ul>
  <li>Explictly: subscription.unsubscribe()</li>
  <li>By an rxjs operation that kills the subscription once the observable completes</li>
</ul>
<p>2- Explicit Unsubscribe</p>
<ul>
  <li *ngFor="let itm of items_explicit">{{itm | json}}</li>
</ul>
<p>3- Operator that Unsubscribes</p>
<ul>
  <li *ngFor="let itm of items_take_unsubscribe">{{itm | json}}</li>
</ul>
<p>Best Practice</p>
<ul>
  <li *ngFor="let itm of items_best_practice">{{itm | json}}</li>
</ul>
