<h2>05 How to Unsubscribe Observables</h2>

<h3>1 - AsyncPipe: calls unsubscribe when the component will be destroyed</h3>
<ul>
  <li *ngFor="let itm of items$ | async">{{itm | json}}</li>
</ul>

<hr>
<p>You are responsible to call .unsubscribe() for any explicit subscription made in code!</p>
<p>Unsubscribe can be called:</p>
<ul>
  <li>Explictly: subscription.unsubscribe()</li>
  <li>By an rxjs operation that kills the subscription once the observable completes</li>
</ul>

<h3>2 - Explicit Unsubscribe</h3>
<ul>
  <li *ngFor="let itm of items_explicit">{{itm | json}}</li>
</ul>

<hr>
<h3>3 - Operator that Unsubscribe</h3>
<ul>
  <li *ngFor="let itm of items_take_unsubscribe">{{itm | json}}</li>
</ul>

<hr>
<h3>Best Practice</h3>
<ul>
  <li *ngFor="let itm of items_best_practice">{{itm | json}}</li>
</ul>
