<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular HTTP Observables are COLD!
  </h1>
</div>
<p>Look at the Network calls in the Browser Developer Tools</p>

<a [routerLink]="['/cold']">01 - cold observables</a>&nbsp;
<a [routerLink]="['/topromise']">02 - to promise</a>&nbsp;
<a [routerLink]="['/hot']">03 - hot observable</a>&nbsp;
<a [routerLink]="['/share']">04 - share</a>&nbsp;
<a [routerLink]="['/unsubscribe']">05 - unsubscribe</a>

<router-outlet></router-outlet>
