<h2>03 Hot Observables</h2>

First
<ul>
  <li *ngFor="let itm of items$ | async">{{itm | json}}</li>
</ul>
Second
<ul>
  <li *ngFor="let itm of items$ | async">{{itm | json}}</li>
</ul>
Third (binds some second later: not getting new values)
<ul>
  <li *ngFor="let itm of lateItems$ | async">{{itm | json}}</li>
</ul>

<p>experiment how we make the observable hot:</p>
<ul>
  <li>publish().refCount() - does not work! "late bound" component will not get any value</li>
  <li>publishLast().refCount() or publishReplay(1).refCount() - will work</li>
  <li>share() - will partially work: a new http request will be made; also share() has a problem with the initial value: it will be delivered only to the first subscription</li>
  <li>shareReplay(1) - will work</li>
</ul>
